@import url('./tailwind.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .3s linear;
}

.logo{
    font-weight: 600;
    font-size:26px;
    background-clip: text;
    color: black;
}

a:hover{
  color: black;
}